@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0b0c1e;
}

.conteiner {
    max-width: 1400px;
    padding: 0 4%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

nav .logo {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    font-size: 19px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .img {
    width: 50%;
    padding: 40px;
}

main .img img {
    width: 100%;
}

main .conteiner {
    width: 50%;
    color: rgb(255, 255, 255);
}

main ,.conteiner h1 {
    font-size: 1.7em;
}

main .conteiner p {
    margin-top: 30px;
    font-size: 0.7em;
}

main .conteiner .grupo-bottoes button {
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 0.7em;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
}

main .conteiner .grupo-bottoes button:first-child {
    box-shadow: 0 0 20px rgba(255, 62, 110, 0.659);
    background: linear-gradient(rgb(255, 62, 110), rgb(190, 45, 110));
}

main .conteiner .grupo-bottoes button:last-child {
    box-shadow: 0 0 20px rgba(110, 219, 249, 0.494);
    background: linear-gradient(rgb(110, 220, 249), rgb(28, 96, 160));
}

main .conteiner .grupo-bottoes button:first-child:hover {
    filter: brightness(1.5);
}

main .conteiner .grupo-bottoes button:last-child:hover {
    filter: brightness(1.5);
}

.clientes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.clientes div {
    width: 20%;
    padding: 20px;
    text-align: center;
}

.clientes div img {
    width: 100%;
}

/* responsivo */

@media (max-width: 850px) {
    main .img {
        display: none;
    }

    main .content {
        width: 100%;
        text-align: center;
        margin-top: 90%;
    }

    .clientes {
        margin-top: 70%;
    }

    .clientes div {
        width: 50%;
    }

    .clientes div img {
        width: 70%;
    }
}

@media (max-width: 430px) {
    main .content h1 {
        font-size: 2.5 rem;
    }

    main .content p {
        font-size: 0.8rem;
    }
}

@media (max-width: 330px) {
    nav ul li a {
        font-size: 16px;
    }

    main .content h1 {
        font-size: 1.5rem;
    }
}